# Dependencies
node_modules/

# VitePress cache
.vitepress/cache/

# Build output
dist/

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor & OS files
.vscode/settings.json
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
Desktop.ini

# TypeScript
*.tsbuildinfo